@font-face {
	font-family: 'FontArcade';
	src: url('fonts/arcade.ttf') format('truetype');
}

#canvas {
  height: calc(100vh - 4rem);
  width: calc(100vw - 4rem);

  padding: 2rem;

  background-color: #FFA500;
  overflow: hidden;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

#deep-space {
  height: calc(100vh - 4rem);
  width: calc(100vw - 4rem);

  padding: 0rem;

  background-image: url("~/assets/space.png");
  background-origin: content-box;

  position: relative;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.button-stack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.custom-nuxtlink {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 10px;
	height: 75px;
	width: 200px;

	font-family: 'FontArcade', sans-serif;
	font-size: 20px;
	font-weight: bold;

	background-color: transparent;
	color: #FFA500;
	border: 2px solid #FFA500;
	border-radius: 10px;

	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

h1.custom-title {
	font-family: 'FontArcade', sans-serif;
	font-size: 100px;

	margin: 50px;

	color: #FFA500;
}
